---
apiVersion: v1
kind: Secret
metadata:
    name: aws-credentials
    namespace: {{ asb_project }}
stringData:
    "AWS_ACCESS_KEY_ID": "{{ iam_output.user_meta.access_keys[0].access_key_id }}"
    "AWS_SECRET_ACCESS_KEY": "{{ iam_output.user_meta.access_keys[0].secret_access_key }}"
    "AWS_CFN_ROLE_ARN": "{{ cloudformation_stack_role.iam_role.arn }}"